﻿<%@ WebHandler Language="C#" Class="CronCalculations" %>

using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;

public class CronCalculations : IHttpHandler {

    public void ProcessRequest (HttpContext context) {
        context.Response.ContentType = "text/plain";

       
        Calani.BusinessObjects.Model.CalaniEntities db = new Calani.BusinessObjects.Model.CalaniEntities();

        var orgs = (from r in db.organizations
            select r.id).ToList();

        foreach (var id in orgs)
        {
            var mgr = new Calani.BusinessObjects.Contacts.EmployeesManager(id);

            mgr.RecalculateVacations();
        }

       

            

      

        context.Response.Write("CronCalculations");



    }

    public bool IsReusable {
        get {
            return false;
        }
    }

}