﻿<%@ WebHandler Language="C#" Class="CronInvoice" %>

using System;
using System.Web;

public class CronInvoice : IHttpHandler {

    public void ProcessRequest (HttpContext context) {
        context.Response.ContentType = "text/plain";

        Calani.BusinessObjects.Projects.LateInvoicesEmailAlert alert = new Calani.BusinessObjects.Projects.LateInvoicesEmailAlert();
        //alert.TriggerCustomer(3);
        alert.TriggerAll();

        context.Response.Write("Hello World");



    }

    public bool IsReusable {
        get {
            return false;
        }
    }

}