﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="assets_Controls_CountIconLabel" Codebehind="CountIconLabel.ascx.cs" %>
<i class="" runat="server" id="ico"></i>
<asp:Label runat="server" ID="lbl" />