﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="assets_Controls_ProjectNextVisitLabel" Codebehind="ProjectNextVisitLabel.ascx.cs" %>
<asp:Label runat="server" ID="lblDateSystem" style="display:none;" />
<div>
    <asp:Label runat="server" ID="lblDate" CssClass="small" />
</div>
<div runat="server" id="contacts">
    
</div>