﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="assets_Controls_RatingStars" Codebehind="RatingStars.ascx.cs" %>
<asp:DropDownList class="barrating" runat="server" id="s">
    <asp:ListItem value="1" runat="server" id="o1">1</asp:ListItem>
    <asp:ListItem value="2" runat="server" id="o2">2</asp:ListItem>
    <asp:ListItem value="3" runat="server" id="o3">3</asp:ListItem>
    <asp:ListItem value="4" runat="server" id="o4">4</asp:ListItem>
    <asp:ListItem value="5" runat="server" id="o5">5</asp:ListItem>
</asp:DropDownList>