<table>
<tr>
	<td>orgid</td>
	<td>$orgid$</td>
</tr>
<tr>
	<td>orgname</td>
	<td>$orgname$</td>
</tr>
<tr>
	<td>userid</td>
	<td>$userid$</td>
</tr>
<tr>
	<td>username</td>
	<td>$username$</td>
</tr>
<tr>
	<td>subid</td>
	<td>$subid$</td>
</tr>
</table>