﻿<!-- Vertical form modal -->
<div id="modal_form_vertical2" class="modal-content" style="display:none">
    <div class="modal-header bg-green">
        <h5 class="modal-title">Rendez-vous #{{id}}-{{clientId}}.{{jobId}}</h5>
    </div>
    <div class="modal-body">
        <form id="modal_form_vertical" action="#">
            <div class="modal-body">
                <div class="form-group type-of-meeting-and-internal-select-panel">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Type de rendez-vous</label>
                            <select class="typeOfMeetingSelect" tabindex="-1" aria-hidden="true"></select>
                        </div>
                        <div class="col-sm-6">
                            <label>Activité interne</label>
                            <select class="internalServicesSelect" tabindex="-1" aria-hidden="true"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group dialogClientSelection">
                    <div class="row hidden error_no_job_selected">
                        <div class="col-sm-12">
                            <label class="dialog_error">Vous n'avez pas sélectioné de projet pour ce client</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Client</label>
                            <select class="clientSelect select" tabindex="-1" aria-hidden="true"></select>
                        </div>
                        <div class="col-sm-6">
                            <label>Mandat</label>
                            <select class="jobSelect" placeholder="choisissez un client" tabindex="-1" aria-hidden="true"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row hidden error_enddate_before_startdate">
                        <div class="col-sm-12">
                            <label class="dialog_error">La date de fin ne peut pas être avant la date du début</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Début</label>
                            <div class="input-group">
                                <input type="text" class="form-control start-date datepicker-date" value="{{startDate}}">
                                <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                                <input type="text" class="form-control start-time" value="{{startTime}}">
                                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label>Fin</label>
                            <div class="input-group">
                                <input type="text" class="form-control end-date datepicker-date datepicker-end-date" value="{{endDate}}">
                                <span class="input-group-addon datepicker-end-date"><i class="icon-calendar22"></i></span>
                                <input type="text" class="form-control end-time" value="{{endTime}}">
                                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row radio-type-of-recurring">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="radio-inline">
                                    <div class="choice">
                                        <span class="non-recurring checked">
                                            <input type="radio" name="radio-inline-left" class="styled" checked="checked">
                                        </span>
                                    </div>
                                    Rendez-vous unique
                                </label>

                                <label class="radio-inline">
                                    <div class="choice">
                                        <span class="recurring">
                                            <input type="radio" name="radio-inline-left" class="styled">
                                        </span>
                                    </div>
                                    Répetition
                                </label>
                            </div>
                        </div>
                    </div>
                <div class="calendar-checkbox calendar-repeat-noedit" style="display:none">
                    <div class="row calendar-repeat-noedit">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="display-block">Le rendez vous est répété chaque <b><span class="days-label"></span></b> pendant <span class="repeat-visit-num-label"></span> semaines</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="calendar-checkbox  calendar-repeat-edit" style="display:none">
                    <div class="row hidden error_no_repeating_day_selected">
                        <div class="col-sm-12">
                            <label class="dialog_error">Vous devez au moins sélectioner un jour de répétition.</label>
                        </div>
                    </div>
                    <div class="row hidden error_no_duration_selected">
                        <div class="col-sm-12">
                            <label class="dialog_error">Vous devez spécifier au moins une répétition dans la case 'durée'.</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="display-block">Le rendez vous est répété chaque <b><span class="days-label"></span></b> <span style="display:none" class="days-label-no-day">(choisissez un ou plusieurs jours)</span> pendant <input class="repeat-visit-num" style="width:40px;text-align:center"  min="0" type="number" placeholder=""> semaines</label>
                                <label class="checkbox-inline">
                                    <div class="checker"><span class="calendar-mon" data-day="1"><input type="checkbox" class="styled"></span></div>
                                    Lun
                                </label>
                                <label class="checkbox-inline">
                                    <div class="checker"><span class="calendar-tue" data-day="2"><input type="checkbox" class="styled"></span></div>
                                    Mar
                                </label>
                                <label class="checkbox-inline">
                                    <div class="checker"><span class="calendar-wed" data-day="3"><input type="checkbox" class="styled"></span></div>
                                    Mer
                                </label>
                                <label class="checkbox-inline">
                                    <div class="checker"><span class="calendar-thu" data-day="4"><input type="checkbox" class="styled"></span></div>
                                    Jeu
                                </label>
                                <label class="checkbox-inline">
                                    <div class="checker"><span class="calendar-fri" data-day="5"><input type="checkbox" class="styled"></span></div>
                                    Ven
                                </label>
                                <label class="checkbox-inline">
                                    <div class="checker"><span class="calendar-sat" data-day="6"><input type="checkbox" class="styled"></span></div>
                                    Sam
                                </label>
                                <label class="checkbox-inline">
                                    <div class="checker"><span class="calendar-sun" data-day="7"><input type="checkbox" class="styled"></span></div>
                                    Dim
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row hidden error_missing_resources">
                        <div class="col-sm-12">
                            <label class="dialog_error">Vous devez sélectionner un collaborateur</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Collaborateurs</label>
                            <select class="resourceSelect select" tabindex="-1" aria-hidden="true"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Meeting description</label>
                            <textarea rows="2" class="form-control description meetingDescription">{{meetingDescription}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Description</label>
                            <textarea rows="2" class="form-control description" placeholder="Entrez un commentaire">{{description}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Statut</label>
                            <select class="statusSelect select" tabindex="-1" aria-hidden="true"></select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div id="sweet_prompt"></div>
    </div>
</div>
<!-- /vertical form modal -->