﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" Inherits="Projects_Opens_Send" Codebehind="Send.aspx.cs" %>

<%@ Register src="../SendScreen.ascx" tagname="SendScreen" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">



    <form id="form1" runat="server">
        <uc1:SendScreen ID="SendScreen1" runat="server" />
    </form>



</asp:Content>
