﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" Inherits="Time_Holidays_Default" Codebehind="Default.aspx.cs" %>

<%@ Register Src="~/assets/Controls/RatingStars.ascx" TagPrefix="uc1" TagName="RatingStars" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<form runat="server">
    <div class="content">
        <div class="row">
            <div class="col-sm-12 col-md-12">
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var visits = <%= VisitsJson %>;
    </script>
    <script type="text/javascript" src="Default.js?<%= Guid.NewGuid().ToString("n") %>"></script>


</form>
</asp:Content>