﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="TermsAndConditions" Codebehind="TermsAndConditions.aspx.cs" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            Redirecting to : <a href="http://www.gesmobile.ch/index.php/gesmobile-termes-et-conditions/">http://www.gesmobile.ch/index.php/gesmobile-termes-et-conditions/</a>
        </div>
    </form>
</body>
</html>
