﻿.select2-container .select2-selection__choice {
    background-color: rgb(33, 150, 243) !important;
}

table[id*="rblYesNo"] input[type="radio"] {
    margin-right: 5px;
}

table[id*="rblYesNo"] label {
    margin-right: 15px;
    display: inline-block;
}
.dropzone {
    min-height: 200px !important;
}
.picker{
    display: none;
}

.description{
    font-size: 10.5px;   
    font-style: italic;   
}

.swal2-popup {
    width: 520px !important;
}

.swal-custom-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.SwalBtnReason, .SwalBtnComplete {
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.SwalBtnReason {
    background-color: #3085d6;
    color: white;
    border: none;
}

.SwalBtnReason:hover, .SwalBtnReason:focus {
    background-color: #256db5;
    color: white !important;
}

.SwalBtnComplete {
    background-color: #aaa;
    color: white;
    border: none;
}

.SwalBtnComplete:hover, .SwalBtnComplete:focus {
    background-color: #888;
    color: white !important;
}
