﻿.tag_option {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    width: 92%;
    border: none;
    border-radius: 5px !important;
}

.wp-80 {
    width: 80px !important;
}

.tagcolorsection {
    float: left;
    border: 1px solid #CAD8F3;
    -webkit-border-radius: 6px;
    font-weight: normal;
    padding: 4px 10px;
    margin: 0 3px;
    width: fit-content;
    color:#fff;
}
.assign_to li.select2-selection__choice {
    background-color: #3f48cc;
}
.modaltacolorsection ul.tagit li.tagit-choice .tagit-label:not(a) {
    color: #fff;
}
.modaltacolorsection ul.tagit li.tagit-choice .tagit-close .text-icon {
    color: #fff;
}
#ContentPlaceHolder1_searchTag, #ContentPlaceHolder1_TagName {
    border: 2px solid #2196F3 !important;
}
.progreesbargreen {
    background-color: #fff;
}
.tag_icon {
    cursor: pointer;
    font-size: 14px;
}
.change-pin {
    margin-top: -50px !important;
}
.tag-ul ul {
    margin-bottom: 0px !important;
}
.desc-width{
    width:100%;
}

.hide_details{
    display:none;
}
.show_details {
    display: block;
}
.margin-footer{
    margin:10px;
}
.cursor-pointer{
    cursor:pointer;
}
.progress-percent-width {
    width: 100%;
    color: #fff;
    font-size: 8px;
}
#unpinTask {
    font-size: 19px;
}


#modal_EditTask .tagit-label {
    color: #fff !important;
}

#modal_EditTask ul.tagit li.tagit-choice span {
    color: #fff !important;
}
#modal_EditTask ul.tagit li.tagit-choice {
/*    background-color: #4c5a62 !important;*/
}
#modal_EditTask ul.tagit {
    border-radius: 3px !important;
    padding: 1px 3px !important;
}

.bg-light-green {
    background-color: #b5e61d;
}
.modal-scroll{
    overflow-y :auto !important;
}

.icons-list button.close{
    color:white;
}
.Task-Grid-Class{
    width:1200px;
}
table.addgridclass i.icon-pushpin {
    display: inline;
    float: left;
    padding-top: 10px;
    margin-right: 4%;
    width: 15%;
}

table.addgridclass .form-group.mb-5 {
    width: 75%;
    float: left;
}

textarea.threelines{
    min-height: 6em;
}

@media (max-width: 2000px) {
    .addgridclass {
        width: 1850px;
    }
}
@media (max-width: 1199px) {
    .addgridclass {
        width: 1600px;
    }
}
@media (max-width: 1199px) {
    select.discount-type {
        float: none;
        margin-left: 10px;
    }
}
@media (min-width: 1200px) {
    select.discount-type {
        float: right;
    }
}

.handsontable td.media-middle {
    vertical-align: middle;
    text-align: center;
}

.handsontable td.media-middle .htCheckboxRendererInput {
    margin: 0;
}

#contract_overview_section .row{
    margin-top: 10px;
}

.background-light-gray-timesheet {
    background-color: #fcfafa;
}

.table thead tr th.date-min-width-timesheet,
.table tbody tr td.date-min-width-timesheet {
    min-width: 200px;
}