﻿

.bg-light-grey
{
    background:#f5f5f5;
}

/* scheduler.aspx */
.sweetalertbtn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.daterangepicker.show-calendar{
    z-index:9999;
}
.resources-select-button-pane {
    padding-left: 10px;
}
.sweetalerttext {
    font-size:15px;
}
.eventPopupContainer {

}
.eventPopupContainer > i {
  float:left;
  padding-top:3px;
}
.eventPopupHeader {
  margin-top:-10px;
}
.eventPopupPaddingBottom {
  padding-bottom:10px;
}
.eventPopupContainer > div {
  padding-left:20px;
}
.noLeftPadding {
  padding-left:0px;
}

/*
.modal-content > .modal-body {
  padding:00px !important
}
*/

.bootbox-body > .modal-body {
  padding:0px !important
}
.fc-list-item-marker {
    padding-top: 18px !important;
}
.dialog_error {
    color:red
}
.hidden {
    display:none
}
.small-icon-calendar-popup {
    font-size:15px;
}
/* end of scheduler.aspx */

#ctl00_SiteMapPath1
{
    color:#999;
    margin-top:5px;
    margin-bottom:5px;
    display:block;
}
#ctl00_SiteMapPath1 a
{
    color:#999;
}
#ctl00_SiteMapPath1 a:hover
{
    color:#404040;
}



.btn
{
    min-height:36px;
}

.tiny-label {
    font-size:0.8em;
    color:#444;
}


.hide-low-1365 {
    display: block;
}
@media (max-width: 1365px) 
{
    .hide-low-1365
    {
        display: none;
    }
}

.two-or-three-1365 {
    width: 33.33333333%;
}

@media (max-width: 1365px) {
    .two-or-three-1365 {
        width: 50%;
    }
}


.no-rating .stars
{
    opacity:0.5;
}

.full-td
{
    padding:3px !important;
    vertical-align:middle !important;
}

.full-td .progress
{
    height:12px;
}

.breadcrumb a
{
    color:inherit !important;
}



.autocompleteEditor,
.autocompleteEditor .wtHolder {
    min-height: 70px;
}


/*custom style*/


.navbar-brand > img {
    margin-top: -2px;
    height: 24px;
}

.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
    color:#333;
}
.navbar-inverse .navbar-nav > li > a {
    color: #333;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #000;
    background-color: rgba(0, 0, 0, 0.05);
}

.sidebar {
    background-color: #ffffff;
    color: #333;
}


.navigation li a {
    color: #333;
}

.navigation li a {
    color: #333 !important;
}
.navigation li a {
    color: #333 !important;
}


.navigation li.active li.active li.active a {
    color: #333 !important;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.1);
}

.navigation > li ul
{
    background:#fff;
}


.bg-slate .wizard > .steps > ul > li.current > a
{

    color:white;
}

.bg-slate .wizard > .steps > ul > li a,
.bg-slate .wizard > .steps > ul > li.disabled a,
.bg-slate .wizard > .steps > ul > li.disabled a:hover,
.bg-slate .wizard > .steps > ul > li.disabled a:focus,
.bg-slate .wizard > .steps > ul > li.done a,
.bg-slate .wizard > .steps > ul > li.done a:hover,
.bg-slate .wizard > .steps > ul > li.done a:focus {
    color: #ddd;
}


.bg-slate .wizard > .steps .number {
    background: #607D8B;
    color:white;
}

.bg-slate .wizard > .steps > ul > li.current .number {
    background: #607D8B;
}

.bg-slate .wizard > .steps > ul > li.current .number:after {
    content: "\ecab";
}


.bg-slate .wizard > .actions > ul > li > a {
    background: #00BCD4;
}

.bg-slate .wizard > .actions > ul > li > a[href="#previous"] {
    background: #fcfcfc;
}

.tuto-content
{
    text-align:center;
}

.tuto-content-text {
    /*margin-top: 90px;*/
    display: table;
    font-size: 1.2em;
    margin-bottom: 15px;
    min-height: 46px;
    text-align: left;
    height:350px;
    width:82%;
    margin-left:18%;
}

.tuto-content-image {
    text-align: left;
    margin-right: 0;
}



@media screen and (min-width: 1500px) {
.tuto-content-image {
margin-right: 18%;
text-align: center;
}
}

.tuto-content-text p {
display: table-cell;
vertical-align: middle;
}

.bg-slate .wizard > .actions {
text-align: center;
margin-top: 30px;
}

.bg-slate .wizard > .actions > ul {
float: none;
}

.bg-slate .wizard > .actions > ul > li {
    text-align: center;
    float: none;
    display: inline-block;
}


.tuto-content img {
    width: 500px;
}

@media screen and (max-width: 920px) {
    .tuto-content img {
        width: 90%;
    }


}


.bg-slate .icons-list a[data-action="hide"]:after {
    content: '\e9b6';
}


.content.content-no-padding {
    padding-bottom: 0;
}

.swal2-popup {
    font-size: inherit !important;
}

.two-lines-small-text {
    min-height: 36px;
}

@media screen and (max-width: 1450px) {
    .col-description {
        width: 39% !important;
    }
}

.fc-agendaCustomButton-button, .fc-listCustomButton-button {
    float: right !important;
}

.input-group-scheduer-ressource-filter
{
    margin-bottom:15px;
}

.input-group-scheduer-ressource-filter button:first-child{
    margin-left:10px;
}

.fa.icon-3x:before{
    font-size:48px;
}

.panel-dash-widget
{
    min-height:170px;
}

a.text-white:hover{
    opacity:0.8;
}

.bigletter {
    width: 48px;
    height: 48px;
    background: #FF9800;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 48px;
    display: block;
    border-radius: 100%;
}


.table-hscroll {
    margin: auto;
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
    width: fit-content !important;
    max-width: 100% !important;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
}


@media screen and (min-width: 768px) {
    .minh-150 {
        min-height: 150px;
    }
    .minh-130 {
        min-height: 130px;
    }
}

.fc-day-number
{
    cursor: pointer;
}

.fc-day-number:hover {
    color: #2196F3;
}


.navigation-main a.text-white, .navigation-main a.text-white span, .navigation-main a.text-white i {
    color: white !important;
    font-weight:bold;
}

.navigation-main a.text-white:hover, .navigation-main a.text-white:hover span, .navigation-main a.text-white:hover  i {
    color:black !important;
}


input.aspNetDisabled, a.aspNetDisabled {
    cursor: not-allowed !important;
}

.dz-error-message
{
    height: 50px;
    overflow: hidden;
}

.nowrap
{
    white-space:nowrap;
}


.handsontable .htAutocompleteArrow {
    color: #64B5F6;
    cursor: pointer;
}

.handsontable td .htAutocompleteArrow:hover {
    color: #2196F3;
}

.bg-gesmobile {
    background: #934553;
    color: white;
}

.color-gesmobile {
    color: #934553;
}

.border-gesmobile {
    border-color: #934553;
}


.htSelectEditor
{
    width:20px;
    background:white;
}

body {
    background-color: #f0f0f7;
}

#menu {
    color: #565764;
}
#menu a i {
    color: #a5a4bf;
}

.bg-gesmobile {
    background: #954754;
}

.panel-white > .panel-heading
{
    border-bottom:0;
}
.panel
{
    border:0;
}
.bordered {
    border: 1px solid #dedede;
}
.border-0 {
    border: 0;
}
.p-2 {
    padding: 2px !important;
}
pt-2 {
    padding-top: 2px !important;
}
.pb-2 {
    padding-bottom: 2px !important;
}
.pl-2 {
    padding-left: 2px !important;
}

.pr-2 {
    padding-right: 2px !important;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #f1f1f3;
}

.table > thead > tr > th {
    border-bottom: 0;
    background: #f5f6fa;
    color: #a3a6b4;
    
    border: 1px solid #dedede;
}
figure.table>table > tbody > tr > td {
    border: 1px solid #dedede;
}

/*7 itemgrid system(week days)*/

@media (min-width: 600px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 100%;
        *width: 100%;
    }
}

@media (min-width: 768px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}


@media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}


@media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}
.ck-editor__main{
    height: 300px;
}

.ck-editor__editable_inline {
    height: 95%;
}

svg > g > g:last-child {
    pointer-events: none
}