﻿<%@ Page Title="Compte" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" Inherits="PayPal_EditCC" Codebehind="EditCC.aspx.cs" %>
<%@ Reference VirtualPath="~/Account/UserControl/UCEditCC.ascx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
     <form runat="server" method="post">
       <asp:PlaceHolder ID="editCCId" runat="server"></asp:PlaceHolder>
     </form>
</asp:Content>