﻿<%@ Page Title="Soon" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" Inherits="Account_Offline" Codebehind="Offline.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderQuickMenu" Runat="Server">

</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
         <div class="content">

             <div class="alert alert-info alert-styled-right alert-bordered" style="width:500px; margin:0 auto 20px auto">
			    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Fermer</span></button>

                            
                                La boutique n'est pas ouverte pendant la phase de beta tests.

							
			</div>

         </div>
</asp:Content>

