﻿<%@ Page Title="Edit Service" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" Inherits="Ressources_Services_Edit" Codebehind="Edit.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
	<script type="text/javascript" src="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>
	<link type="text/css" href="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css" rel="stylesheet" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <form runat="server">

        <div class="content">

		    <div class="row">

                <!-- left column -->
			    <div class="col-sm-12 col-md-6">


                        <asp:Panel runat="server" ID="panelError" Visible="false" class="panel panel-danger panel-bordered">
						    <div class="panel-heading">
							    <h6 class="panel-title"><%= Resources.Resource.Validation_Error %></h6>
						    </div>

						    <div class="panel-body">
							    <asp:Label runat="server" ID="lblErrorMessage" />
						    </div>
					    </asp:Panel><!-- panelError -->

                        <asp:Panel runat="server" ID="panelSuccess" Visible="false" class="panel panel-success panel-bordered">
						    <div class="panel-heading">
							    <h6 class="panel-title"><%= Resources.Resource.Validation_Done %></h6>
						    </div>

						    <div class="panel-body">
							    <asp:Label runat="server" ID="lblSuccess" />
                                <br />
                                <strong><a href="." id="linkBackList" runat="server"></a></strong>
                                    <%= Resources.Resource.or %>
                                <a href="Edit.aspx" id="linkNew" runat="server"></a>.
						    </div>
					    </asp:Panel><!-- panelSuccess -->
					    
					    <asp:Panel runat="server" ID="panelEdit" class="panel panel-white">
						    <div class="panel-heading">
							    <h6 class="panel-title"><asp:Label runat="server" ID="lblTitle" /></h6>
						    </div>

						    <div class="panel-body">

							    <div class="form-horizontal">

								    <fieldset class="content-group">

                                        <!-- name -->
									    <div class="form-group">
										    <label class="control-label col-lg-2"><%= Resources.Resource.Name %>*</label>
										    <div class="col-lg-10">
											    <div class="input-group">
												    <span class="input-group-addon"><i class="fa fa-font"></i></span>
												    <input type="text" class="form-control" placeholder='<%$ Resources:Resource, ServiceName_Tooltip %>' runat="server" id="tbxName" required="required" maxlength="600"/>
											    </div>
										    </div>
									    </div>
                                        <!-- /name -->

										
                                        <!-- internalId -->
									    <div class="form-group">
											<label class="control-label col-lg-2"><%= Resources.Resource.RefNr %>*</label>
											<div class="col-lg-10">
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-share"></i></span>
                                                    <input type="text" class="form-control" placeholder='<%$ Resources:Resource, Code_Tooltip %>' runat="server" id="tbxInternalId" maxlength="11" required="required"/>
												</div>
											</div>
										</div>
                                        <!-- /internalId -->
												
										<div class="form-group">
											<label class="control-label col-lg-2"><%= Resources.Resource.Unit %></label>
											<div class="col-lg-10">
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-cube"></i></span>
													<select id="unit-of-work" class="form-control">
														<% foreach(var unit in Units) { %>
															<option value="<%= unit.Name %>"><%= unit.Name %></option>
														<% } %>
													</select>
													<asp:HiddenField runat="server" ID="hdnUnitName" />
												</div>
											</div>
										</div>

								    </fieldset>


                                    <fieldset class="content-group">
										<legend class="text-bold"><%= Resources.Resource.Billing %></legend>

                                        <!-- unitPrice -->
										<div class="form-group">
											<label class="control-label col-lg-2"><%= Resources.Resource.Unit_Price %></label>
											<div class="col-lg-10">
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-price-tag"></i></span>
                                                    <input type="number" class="form-control" placeholder='<%$ Resources:Resource, Unit_Price %>' runat="server" id="tbxUnitPrice" step="0.01" min="-999999" max="999999"/>
												</div>
											</div>
										</div>
                                        <!-- /unitPrice -->

                                        <!-- taxes -->
										<div class="form-group">
											<label class="control-label col-lg-2"><%= Resources.Resource.VAT %></label>
											<div class="col-lg-10">
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-balance-scale"></i></span>
                                                    <asp:DropDownList runat="server" ID="ddlTax" CssClass="select form-control"
                                                         DataValueField="id" DataTextField="name" />						
												</div>
											</div>
										</div>
                                        <!-- /taxes -->
	                                    
                                        <!-- oruce include taxes -->
	                                    <asp:Panel runat="server" ID="panelPriceInclTax" class="panel panel-white">
		                                    <div class="form-group">
	                                            <label class="control-label col-lg-2"><%= Resources.Resource.PriceInclVat %></label>	
												<div class="col-lg-10">
                                        		    <div class="input-group" runat="server">
                                        			    <label class="checkbox-inline">
                                        					<asp:CheckBox runat="server" ID="cbxPriceIncludingVat" CssClass="checked control-primary" />
                                        			    </label>
                                        		    </div>
	                                            </div>
	                                        </div>
										</asp:Panel>
                                        <!-- /taxes -->

												

									</fieldset>

											



                                    <!-- buttonsaction -->
								    <div class="buttonsaction text-right">
										<label class="control-label col-lg-2"></label>
										<div class="col-lg-10">
											<div class="btn-group">
                                                <asp:LinkButton runat="server" ID="btnSave" class="btn btn-primary" OnClick="btnSave_Click">
                                                    <i class="icon-floppy-disk position-left"></i> <%= Resources.Resource.Save %>
                                                </asp:LinkButton>
                                                
									            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" runat="server" id="btnMore"><span class="caret"></span></button>
									            <ul class="dropdown-menu dropdown-menu-right" runat="server" id="btnMoreDdl">
                                                    <li><a href="javascript:void(0)" data-toggle="modal" data-target="#modal_default"><i class="fa fa-trash"></i> <%= Resources.Resource.Delete %></a></li>
												</ul>
											</div>
										</div>
									</div>
                                    <!-- /buttonsaction -->


							    </div>
						    </div>
					    </asp:Panel><!-- /panelEdit -->
					    
           


			    </div>
			    <!-- /left column -->
                

                <!-- right column -->
                <div class="col-sm-12 col-md-6">

			    </div>
                <!-- /right column -->
						

		    </div> <!-- /row -->


					
            <!-- basic modal: confirm delete -->
		    <div id="modal_default" class="modal fade">
			    <div class="modal-dialog">
				    <div class="modal-content">
					    <div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal">&times;</button>
						    <h5 class="modal-title"><%= Resources.Resource.Confirmation %></h5>
					    </div>

					    <div class="modal-body">
						    <h6 class="text-semibold"><%= Resources.Resource.Are_You_Sure_To_Delete %></h6>
						    <p><%= Resources.Resource.Delete_Is_Irreversible %></p>

					    </div>

					    <div class="modal-footer">
						    <button type="button" class="btn btn-link" data-dismiss="modal"><%= Resources.Resource.No_Cancel %></button>
                            <asp:Button runat="server" ID="btnDelete" OnClick="btnDelete_Click" CssClass="btn btn-primary" Text="<%$ Resources:Resource, Yes_Delete %>" />

					    </div>
				    </div>
			    </div>
		    </div>
		    <!-- /basic modal -->



        </div><!-- /content -->

    </form>

	<script type="text/javascript">
		$('#unit-of-work').editableSelect();
        $('#unit-of-work').val('<%= SavedUnitName %>');

		$('#<%= btnSave.ClientID %>').on('click', function () {
			var selectedUnit = $('#unit-of-work').val();
			$('#<%= hdnUnitName.ClientID %>').val(selectedUnit);
		});
    </script>

</asp:Content>


